<div class="neon-signboard">Add project</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input type="text" formControlName="priority" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" />
        <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
            <div *ngIf="f.priority.errors.required">Priority field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" formControlName="status" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" formControlName="type" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type field is empty</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
        </button>
        <a routerLink="/projects" class="btn btn-link">Cancel</a>
    </div>
</form>