nav {
    overflow  : hidden;
    z-index   : 1;
    background: linear-gradient(#7e29af, #472093);
    box-shadow: inset 0px -20px 20px 0px #32024efa;
    animation : moonSky 15s infinite linear;
    height    : 60px;
}

.neon-moon-walker {
    color        : white !important;
    background   : linear-gradient(#eec890, #f24df6);
    box-shadow   : 0px 0px 20px 4px #f24df6;
    padding      : 20px;
    position     : absolute;
    left         : 10px;
    top          : 10px;
    border-radius: 50%;
    animation    : moonWalker 10s infinite linear;
}

@keyframes moonSky {
    0% { box-shadow: inset 0px -20px 20px 0px #32024efa; }

    50% { box-shadow: inset 0px -20px 20px 0px #32024e00; }

    100% { box-shadow: inset 0px -20px 20px 0px #32024efa; }
}

@keyframes moonWalker {
    0% { left: -10px; top : 100%; }

    25% { left: 25%; top : 50%; }

    50% { left: 50%; top : 0%; }

    75% { left: 75%; top : 50%; }

    100% { left: 100%; top : 100%; }
}

.neon-road {
    top      : -700px;
    width    : 100%;
    position : absolute;
    animation: road-wave 2s linear infinite;
}

.neon-road td {
    border    : 1px solid #e2bfef;
    box-shadow: 0px 0px 16px 0px #efbfeb;
    padding   : 15px;
}

@keyframes road-wave {
    0% {
        top: -700px;
    }

    100% {
        top: -417px;
    }
}

.neon-space-road {
    transform          : translate(0, 50vh) perspective(120px) rotateX(47deg);
    /* transform-origin: bottom right; */
    transform-style    : preserve-3d;
}

hr.horizont {
    position     : absolute;
    background   : #fff266db;
    box-shadow   : 0px 0px 15px 10px #f16ed3, inset 0px 0px 5px 0px #f16ed3;
    align-items  : center;
    z-index      : 2;
    top          : 46vh;
    left         : 0;
    width        : 100%;
    height       : 10px;
    border-radius: 30%;
}

.neon-mount {
    /* shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%); */
    clip-path       : polygon(100% 380px, 0% 380px, 0% 314px, 10% 270px, 25% 300px, 55% 87px, 65% 176px, 72% 308px, 81% 246px, 91% 215px, 100% 301px);
    position        : absolute;
    width           : 100%;
    background-color: #000638;
}

.neon-mount>div {
    display: flex;
}

.neon-mount>div>div {
    transform : skewX(63deg);
    border    : 0px dashed #7ff2f5;
    box-shadow: 0px 0px 15px 0px #7ff2f5;
    height    : 100px;
    width     : 100px;
}

.neon-mount>div>div:nth-child(3n+3) {
    transform: skew(-63deg, 45deg);
}

.neon-sky {
    position: absolute;
    width   : 100%;
    display : flex;
    height  : 42vh;
}

.neon-sky>div {
    height       : 1px;
    width        : 1px;
    border       : 1px dashed;
    z-index      : 0;
    position     : absolute;
    left         : 140%;
    top          : 140%;
    border-radius: 50%;
    box-shadow   : 100px 100px 6px 1px #f7db86, 350px 50px 2px 1px #f7db86, 90px -100px 2px 2px #f7db86, -80px 100px 3px 1px #f7db86;
    animation    : neo-rotate 6.1s linear infinite;
}

.neon-sky>div:nth-of-type(2) {
    animation-delay: 1s;
    box-shadow     : 0px 0px 6px 1px #f7db86, -210px -210px 2px 1px #f7db86, -90px 80px 2px 2px #f7db86, -80px 60px 3px 1px #f7db86;
}

.neon-sky>div:nth-of-type(3) {
    box-shadow: 20px 20px 6px 1px #f7db86, -180px 180px 2px 1px #f7db86, -190px 180px 2px 2px #e49f5f, -180px 160px 3px 1px #f7db86;
    animation : neo-rotate 5.2s 2.2s linear infinite;
}

.neon-sky>div:nth-of-type(4) {
    box-shadow: 60px 60px 6px 1px #f7db86, 150px 150px 2px 1px #f39d6a, -180px 180px 2px 2px #f7db86, -80px 60px 3px 1px #eb9b59;
    animation : neo-rotate 6.5s 1.5s linear infinite;
}

.neon-sky>div:nth-of-type(5) {
    box-shadow: 90px 90px 6px 1px #fdd660, -120px 120px 2px 1px #f7db86, -150px 150px 2px 2px #fdd660, -180px 180px 3px 1px #f7db86;
    animation : neo-rotate 8s 3.1s linear infinite;
}

.neon-sky>div:nth-of-type(6) {
    box-shadow: 120px 120px 6px 1px #f7db86, -90px 90px 2px 1px #ff9f50, -120px 120px 2px 2px #f39d6a, -150px 150px 3px 1px #f7db86;
    animation : neo-rotate 4.4s 2.6s linear infinite;
}

.neon-sky>div:nth-of-type(7) {
    box-shadow: 150px 150px 6px 1px #fdd660, 50px -40px 2px 1px #f7db86, 90px -90px 2px 2px #f7db86, -120px 120px 3px 1px #f7db86;
    animation : neo-rotate 3.5s 5s linear infinite;
}

.neon-sky>div:nth-of-type(8) {
    box-shadow: 180px 180px 6px 1px #f7db86, -50px 40px 2px 1px #fdd660, -90px -80px 2px 2px #f7db86, -90px 90px 3px 1px #f7db86;
    animation : neo-rotate 4.6s 6s linear infinite;
}

.neon-sky>div:nth-of-type(9) {
    box-shadow: 210px 210px 6px 1px #f7db86, -50px 40px 2px 1px #f7db86, -90px 80px 2px 2px #e45f5f, -80px 60px 3px 1px #f7db86;
    animation : neo-rotate 5s 7ss linear infinite;
}

@keyframes neo-rotate {
    0% {
        transform: rotate(0deg);
        left     : 120%;
        top      : 30%;
    }


    50% {
        transform: rotate(-45deg);
        left     : 50%;
        top      : 10%
    }


    100% {
        transform: rotate(-90deg);
        left     : -20%;
        top      : 30%
    }
}