<div class="work-space">
  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav" *ngIf="currentUser">
      <span class="nav-item nav-link" routerLink="/">{{currentUser.login}}</span>
      <a class="nav-item nav-link" *ngIf="isAdmin" routerLink="/">Pagination testing on the server</a>
      <a class="nav-item nav-link" *ngIf="isAdmin" routerLink="/users">User</a>
      <a class="nav-item nav-link" routerLink="/projects">Project</a>
      <a class="nav-item nav-link" routerLink="/delorian">delorian</a>
      <a class="nav-item nav-link" (click)="logout()" class="neon-moon-walker">Logout</a>
    </div>
  </nav>
  
  <div class="neon-sky">
    <div *ngFor="let dummy of ' '.repeat(10).split(''), let x = index"></div>
  </div>
  <div class="neon-mount">
    <div *ngFor="let dummy of ' '.repeat(10).split(''), let x = index">
      <div *ngFor="let dummy of ' '.repeat(20).split(''), let x = index"></div>
    </div>
  </div>

  <hr class="horizont" />
  <div class="neon-space-road">
    <table class="neon-road">
      <tr *ngFor="let dummy of ' '.repeat(60).split(''), let x = index">
        <td *ngFor="let dummy of ' '.repeat(10).split(''), let x = index"></td>
      </tr>
    </table>
  </div>

  <!-- main app container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <alert></alert>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <!-- <video>
    <source src="https://www.youtube.com/watch?v=OXRWQefGh1U"
  </!-->
  <!-- <iframe style="display: none;" width="420" height="315"
    src="https://www.youtube.com/embed/iR-K2rUP86M?autoplay=1&loop=1">
  </iframe> -->
  <!-- <iframe style="display: none;" width="560" height="315" src="https://www.youtube.com/embed/iR-K2rUP86M"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe> -->
</div>