@import "~@angular/material/prebuilt-themes/purple-green.css";

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

a {
    cursor: pointer;
}

.jumbotron {
    background-color: #000638;
    margin-bottom   : 0;
    min-height      : 93vh;
    align-items     : center;
    padding-top     : 180px;
}

.jumbotron>div {
    /* display: none; */
    background: #281e8c;
    z-index   : 5;
    position  : relative;
    padding   : 30px 10px;
    border    : 1px solid #00ffe9;
    box-shadow: 0px 0px 15px 5px #281e8c;
}

label {
    color: #00daff;
}

.work-space {
    overflow: hidden;
    position: relative;
}

.neon-signboard {
    text-transform: uppercase;
    color         : #bb4bff;
    font-size     : 26px;
    font-weight   : bold;
    width         : max-content;
    margin        : 15px auto;
    padding       : 5px 20px;
    border        : 5px solid;
    border-radius : 15px;
    animation     : signboardBlank 2s linear infinite;
}

@keyframes signboardBlank {
    0%, 100% {
        box-shadow: 0px 0px 13px 5px #5ee7f9, inset 0px 0px 10px 2px #5ee7f9;
    }
    50% {
        box-shadow: 0px 0px 13px 3px #5ee7f9, inset 0px 0px 8px 2px #5ee7f9;
    }
}

.w-100 {
    color      : #e420c2;
    text-shadow: 0px 0px 4px #6457ff;
    background : black;
    padding    : 5px 15px;
}

.w-100::placeholder {
    color: #98edfc;
}
.mat-sort-header-button {
    text-transform: uppercase;
}