<div class="delorian">
    <div class="left">
        <div class="left-board"></div>
        <div class="window"></div>
        <div class="car-bottom"></div>
        <div class="car-door">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="wheel wheel-p">
            <div *ngFor="let dummy of ' '.repeat(23).split(''), let x = index"></div>
        </div>
        <div class="wheel wheel-z">
            <div *ngFor="let dummy of ' '.repeat(23).split(''), let x = index"></div>
        </div>
    </div>
    <div class="right">
        <div class="left-board"></div>
        <div class="window"></div>
        <div class="car-bottom"></div>
        <div class="car-door">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="wheel wheel-p">
            <div *ngFor="let dummy of ' '.repeat(23).split(''), let x = index"></div>
        </div>
        <div class="wheel wheel-z">
            <div *ngFor="let dummy of ' '.repeat(23).split(''), let x = index"></div>
        </div>
    </div>
    <div class="back">
        <div class="back-bottom"></div>
        <div class="back-middle">
            <div class="left-headlamp">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="back-number">
                <div></div>
            </div>
            <div class="right-headlamp">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="back-top"></div>
    </div>
    <div class="top">
        <div class="roof"></div>
        <div class="windshield">
            <div></div>
        </div>
        <div class="hood"></div>
        <div class="bumper">
            <div><div></div><div></div></div>
            <div>DMC</div>
            <div><div></div><div></div></div>
        </div>
    </div>
    <div class="botton">
        <div class="front-botton"></div>
        <div class="botton-botton"></div>
        <div class="bumper-back-botton"></div>
        <div class="bumper-botton"></div>
    </div>

</div>