.delorian {
    position             : relative;
    transform-style      : preserve-3d;
    transform         : translate(0, 0vh) perspective(239px) rotateX(0deg) rotateY(-90deg);
    /* transform            : translate(0, 0vh) rotateX(0deg) rotateY(-15deg); */
    animation         : delorRotate 200s linear infinite;
    /* transform            : translate(0, 0vh) rotateX(39deg) rotateY(-118deg); */
}

@keyframes delorRotate {
    0% {
        transform: rotateY(0deg) perspective(900px);
    }

    50% {
        transform: rotateY(3600deg) perspective(900px) rotateX(-21deg) rotatez(-41deg);
    }

    100% {
        transform: rotateY(0deg) perspective(900px);
    }
}

.delorian>div {
    /* width              : 100px; */
    height                : 100px;
    position              : relative;
    /* background-color   :#a8a8a8; */
}

.left,
.right {
    width          : 400px;
    position       : absolute;
    transform-style: preserve-3d;
}

.left {
    transform: translate(0, 0vh) rotateX(0deg) rotateY(-90deg);
    left     : -98px;
}

/* perspective(239px) */
.right {
    transform: translate(0, -100px)rotateX(0deg) rotateY(90deg) scale(-1, 1);
    left     : 129px;
}

.left-board {
    background-color: #a8a8a8;
    clip-path       : polygon(84% 95%, 67% 96%, 17% 94%, 8% 82%, 8% 60%, 37% 46%, 54% 21%, 73% 21%, 94% 44%, 95% 71%, 94% 90%);
    display         : flex;
    align-items     : flex-end;
    justify-content : space-around;
    width           : 400px !important;
    height          : 100px;
}

.left-board::before {
    content         : " ";
    width           : 400px;
    height          : 5px;
    background-color: #2e2e2e;
    position        : absolute;
    z-index         : 0;
    top             : 66%;
    transform       : rotate(-1deg);
}

.left-board::after {
    content      : " ";
    height       : 0px;
    width        : 1px;
    position     : absolute;
    top          : 26%;
    left         : 73%;
    border-bottom: 20px solid #494949;
    border-right : 73px solid transparent;
}

.delorian .wheel {
    top                : 65%;
    width              : 56px;
    height             : 56px;
    background-color   : #2e2e2e;
    border-radius      : 50%;
    animation          : wheelRoad 2s linear infinite;
    position           : absolute;
    /* display         : flex;
    justify-content    : center;
    align-items        : center; */
    transform-style    : preserve-3d;
}

.wheel::before {
    content      : " ";
    background   : #a7a7a7;
    width        : 30px;
    height       : 30px;
    top          : 50%;
    left         : 50%;
    border-radius: 40%;
    position     : absolute;
    margin       : -15px;
}

@keyframes wheelRoad {
    100% {
        transform: rotate(-1000deg);
    }
}

.wheel>div {
    width   : 20px;
    height  : 10px;
    position: absolute;
    transform-origin: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color   : #2e2e2e;
}

.wheel>div:nth-of-type(1) {
    transform: rotateY(90deg) rotateX(0deg) translate3d(11px, 0px, 28px);
}

.wheel>div:nth-of-type(2) {
    transform: rotateY(90deg) rotateX(16deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(3) {
    transform: rotateY(90deg) rotateX(32deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(4) {
    transform: rotateY(90deg) rotateX(48deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(5) {
    transform: rotateY(90deg) rotateX(64deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(6) {
    transform: rotateY(90deg) rotateX(80deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(7) {
    transform: rotateY(90deg) rotateX(96deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(8) {
    transform: rotateY(90deg) rotateX(112deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(9) {
    transform: rotateY(90deg) rotateX(128deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(10) {
    transform: rotateY(90deg) rotateX(144deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(11) {
    transform: rotateY(90deg) rotateX(160deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(12) {
    transform: rotateY(90deg) rotateX(176deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(13) {
    transform: rotateY(90deg) rotateX(192deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(14) {
    transform: rotateY(90deg) rotateX(208deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(15) {
    transform: rotateY(90deg) rotateX(224deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(16) {
    transform: rotateY(90deg) rotateX(240deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(17) {
    transform: rotateY(90deg) rotateX(256deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(18) {
    transform: rotateY(90deg) rotateX(272deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(19) {
    transform: rotateY(90deg) rotateX(288deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(20) {
    transform: rotateY(90deg) rotateX(304deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(21) {
    transform: rotateY(90deg) rotateX(320deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(22) {
    transform: rotateY(90deg) rotateX(336deg) translate3d(11px, 0px, 28px);
}
.wheel>div:nth-of-type(23) {
    transform: rotateY(90deg) rotateX(352deg) translate3d(11px, 0px, 28px);
}



.wheel-p {
    left: 18%;
}

.wheel-z {
    left: 69%
}

.window {
    height          : 20px;
    width           : 50px;
    background-color: #494949;
    position        : absolute;
    top             : 26%;
    left            : 48%;
    border-radius   : 0 6px 6px 0;
    transform       : skew(-69deg);
}

.window::before {
    content      : " ";
    background   : #494949;
    width        : 55px;
    height       : 20px;
    border-radius: 6px;
    position     : absolute;
    transform    : skew(67deg);
    left         : 36%;
}

.car-door>div {
    background: #494949;
    width     : 2px;
    height    : 100px;
    position  : absolute;
}

.car-door>div:nth-of-type(1) {
    left     : 39%;
    top      : 44%;
    transform: rotate(-19deg);
    height   : 53px;
    z-index  : 0;
}

.car-door>div:nth-of-type(2) {
    left     : 64%;
    top      : 41%;
    transform: rotate(33deg);
    height   : 60px;
    z-index  : 0;
}

.car-door>div:nth-of-type(3) {
    left     : 69%;
    top      : 20%;
    transform: rotate(18deg);
    height   : 29px;
    z-index  : 0;
}

.car-bottom {
    background-color: #2e2e2e;
    position        : absolute;
    height          : 19px;
    width           : 326px;
    left            : 8%;
    top             : 85%;
    z-index         : -1;
}

.back {
    position       : absolute !important;
    /* background  : rebeccapurple; */
    width          : 227px;
    left           : 14%;
    top            : 1%;
    transform      : translateZ(180px);
    transform-style: preserve-3d;
}

.back>div {
    width: 227px;
}

.back-bottom {
    background: #262f34;
    transform : rotateX(254deg) translate3d(0px, 53px, -13px);
    height    : 91px;
    position  : absolute;
    top       : 10px;
}

.back-middle {
    background     : #a8a8a8;
    transform      : rotateX(191deg) translateZ(1px);
    height         : 22px;
    position       : absolute;
    top            : 40px;
    display        : flex;
    justify-content: space-between;
    border         : 1px solid gray;
}

.back-top {
    background: #262f34;
    transform : rotateX(168deg) translateZ(1px);
    height    : 26px;
    position  : absolute;
    top       : 61px;
}

.left-headlamp,
.right-headlamp {
    align-self: center;
}

.left-headlamp table,
.right-headlamp table {
    margin     : auto;
    align-items: center;
}

.left-headlamp td,
.right-headlamp td {
    border : 1px solid black;
    padding: 1px 5px;
}

.left-headlamp td:nth-of-type(1),
.left-headlamp td:nth-of-type(2),
.right-headlamp td:nth-of-type(5),
.right-headlamp td:nth-of-type(6) {
    background: #fba00c;
}

.left-headlamp td:nth-of-type(3),
.left-headlamp td:nth-of-type(4),
.left-headlamp td:nth-of-type(5),
.right-headlamp td:nth-of-type(3),
.right-headlamp td:nth-of-type(4),
.right-headlamp td:nth-of-type(2) {
    background: #f2416b;
}

.left-headlamp td:nth-of-type(6),
.right-headlamp td:nth-of-type(1) {
    background: #cad5e1;
}

.back-number {
    background     : #262f34;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.back-number div {
    background: #fffffd;
    width     : 50%;
    height    : 50%;
}

.top {
    position       : absolute !important;
    width          : 227px;
    left           : 14%;
    top            : 1%;
    transform      : translate3d(0, -33px, 43px) rotateX(90deg);
    transform-style: preserve-3d;
}

.roof {
    background: #a8a8a8;
    width     : 100%;
    height    : 77px;
    transform : translate3d(0px, 25px, -1px);
}

.windshield {
    background     : #a8a8a8;
    width          : 100%;
    height         : 77px;
    transform      : translate3d(0px, -124px, -14px) rotateX(20deg);
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.windshield>div {
    background: #494949;
    width     : 92%;
    height    : 80%;
}

.hood {
    background: #a8a8a8;
    width     : 100%;
    height    : 148px;
    transform : translate3d(0px, -316px, -32px) rotateX(6deg);
}

.bumper {
    background     : #262f34;
    width          : 100%;
    height         : 26px;
    transform      : translate3d(0px, -476px, -52px) rotateX(-90deg) rotateY(180deg);
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.bumper>div {
    color  : beige;
    display: flex;
}

.bumper>div>div {
    height          : 14px;
    width           : 20px;
    background-color: #e4eff7;
    margin          : 5px;
    border-radius   : 2px;
}

.botton {
    background     : black;
    position       : absolute !important;
    width          : 227px;
    height         : 327px !important;
    left           : 14%;
    top            : 1%;
    transform      : translate3d(0, -63px, -5px) rotateX(90deg);
    transform-style: preserve-3d;
}

.botton .front-botton {
    background: #a8a8a8;
    width     : 100%;
    height    : 27px;
    transform : translate3d(0px, -12px, 13px) rotateX(90deg);

}

.botton .botton-botton {
    width: 100%;
}

.botton .bumper-back-botton {
    background: #262f34;
    width     : 100%;
    height    : 27px;
    transform : translate3d(0px, 286px, 14px) rotateX(90deg);
}

.botton .bumper-botton {
    background: #262f34;
    width     : 100%;
    height    : 27px;
    transform : translate3d(0px, 263px, 11px) rotateX(7deg);
}