<div class="neon-signboard">Add user</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" formControlName="surname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
            <div *ngIf="f.surname.errors.required">Surname field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="patronymic">Patronymic</label>
        <input type="text" formControlName="patronymic" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.patronymic.errors }" />
        <div *ngIf="submitted && f.patronymic.errors" class="invalid-feedback">
            <div *ngIf="f.patronymic.errors.required">Patronymic field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" formControlName="login" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
            <div *ngIf="f.login.errors.required">Login field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password field is empty</div>
            <div *ngIf="f.password.errors.minlength">Password cannot be shorter than 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>