<div class="neon-signboard">Hi {{currentUser.login}}!</div>
<div class="home-description">Все пользователи:</div>
<table class="table table-striped">
    <thead>
        <th *ngFor="let column of displayedColumns" (click)="sortColumn(column)">{{column}}</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.name}}</td>
            <td>{{user.roles}}</td>
        </tr>
    </tbody>
</table>
<mat-paginator #pagination [length]="pageble.totalElements" [pageSize]="pageble.size" [pageIndex]="pageble.number"
    [pageSizeOptions]="[2, 5, 10, 25, 100]" (page)="pageEvent=getPaginatorData($event)">
</mat-paginator>