table {
    width: 100%;
}

.home-description {
    color        : cyan;
    text-align   : center;
    border       : 1px solid;
    width        : fit-content;
    padding      : 5px 10px;
    margin       : auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow   : inset 0px 0px 8px 4px #fd6bff;
}

thead th {
    color : white;
    cursor: pointer;
    width: 25%;
}

tbody {
    color: rgb(236, 253, 0);
}