<div class="neon-signboard">Add task</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name field is empty</div>
        </div>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" formControlName="status" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status field is empty</div>
        </div>
    </div>


    <div class="form-group">
        <label for="startDate">Start date</label>
        <input type="date" formControlName="startDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
            <div *ngIf="f.startDate.errors.required">Start Date field is empty</div>
        </div>
    </div>

    <div class="form-group">
        <label for="endDate">End date</label>
        <input type="date" formControlName="endDate" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
        <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
            <div *ngIf="f.endDate.errors.required">End date field is empty</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" mat-raised-button color="primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add
        </button>
        <a routerLink="/projects" class="btn btn-link">Cancel</a>
    </div>
</form>