<div class="neon-signboard">All users:</div>

<mat-form-field>
    <input class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="first-block">
                    <div class="descriptions">
                        <div>Id: {{element.id}}</div>
                        <div>Login: {{element.login}}</div>
                        <div>Roles: {{element.roles}}</div>
                    </div>
                    <div class="fio">
                        <div class="">Surname: {{element.surname}}</div>
                        <div class="">Name: {{element.name}}</div>
                        <div class="">Patronymic: {{element.patronymic}}</div>
                    </div>
                </div>
                <div class="second-block">
                    <button mat-raised-button color="primary" (click)="editUser(element)">Edit</button>
                    <button mat-raised-button color="accent" (click)="unDeleteUser(element)">Undelete</button>
                    <button mat-raised-button color="warn" (click)="deleteUser(element)">Delete</button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
        [class.expanded-row]="expandedElement === element" [class.mat-toolbar]="!element.isActive"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" (click)="addUser()">Add</button>