<div class="neon-signboard">
    <span><a *ngIf="isAdmin" (click)="changeFlag()">{{flagFilter ? 'All ' : ' My '}}</a> </span> 
    <span> pro</span><span>je</span><span>c</span><span>t:</span>
</div>

<div>
    <mat-form-field>
        <input class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- <div><button mat-raised-button color="warn" *ngIf="isAdmin"
            (click)="changeFlag()">{{flagFilter ? 'All' : 'My'}}</button></div>
</div> -->

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="first-block">
                    <div class="descriptions">
                        <div>Id: {{element.id}}</div>
                        <div>Roles: {{element.name}}</div>
                        <div>Login: {{element.priority}}</div>
                    </div>
                    <div class="fio">
                        <div>status: {{element.status}}</div>
                        <div>type: {{element.type}}</div>
                        <div *ngIf="isAdmin" class="">active: {{element.isActive}}</div>
                    </div>
                    <div>
                        <button mat-fab color="primary" (click)="showTasks(element)">Tasks</button>
                    </div>
                </div>
                <div class="second-block">
                    <button mat-raised-button color="primary" (click)="editProject(element)">Edit project</button>
                    <button *ngIf="isAdmin" mat-raised-button color="accent" (click)="unDeleteProject(element)">Undelete
                        project</button>
                    <button mat-raised-button color="warn" (click)="softDeleteProject(element)">Delete
                        project</button>
                </div>
                <div>
                    <div *ngIf="showTasksFlag" [@inOutAnimation] class="table-task">
                        <app-list-task></app-list-task>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row mat-warn"
        [class.expanded-row]="expandedElement === element" [class.mat-toolbar]="!element.isActive"
        (click)="(expandedElement = expandedElement === element ? null : element)&&(showTasksFlag=false)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" (click)="addProject()">Add project</button>