table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

.mat-sort-header-container button.mat-sort-header-button {
    text-transform: uppercase !important;
}

tr.element-row:not(.expanded-row):hover {
    background: #777;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

tr.delete-element {
    background: rgb(238, 134, 134);
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow      : hidden;
    display       : flex;
    flex-direction: column;
}

.first-block {
    display        : flex;
    justify-content: space-between;
}

.first-block>div {
    width: 45%;
}

.second-block {
    display        : flex;
    justify-content: space-around;
    padding        : 10px 0;
}

.table-task {
    padding: 15px;
    margin: 20px 10px;
    box-shadow: inset 0px 0px 10px 0px #00000085, 0px 0px 5px 0px #00000085;
    /* box-shadow: inset 5px 0px 10px 2px #f39beb, 5px 0px 8px 8px #f39beb; */
    animation: neon-on 4s 2s;
    animation-fill-mode: forwards;
}

@keyframes neon-on {
    0%,25%,75%,80%,90%,95%, 100% {
        box-shadow: inset 0px 0px 10px 2px #f39beb, 0px 0px 8px 8px #f39beb;
    }

    10%,50%,77%,92%,99%  {
        box-shadow: inset 0px 0px 10px 0px #00000085, 0px 0px 5px 0px #00000085; 
    }
}
table {
    animation: shadowBlank 3s infinite;
}

@keyframes shadowBlank {
    0% {
        box-shadow: 0px 0px 19px 10px #ff000042;
    }

    50% {
        box-shadow: 0px 0px 0px 0px #ff000042;
    }

    100% {
        box-shadow: 0px 0px 19px 10px #ff000042;
    }
}

.neon-signboard span {
    animation: upper 15s linear infinite;
}
.neon-signboard span:nth-of-type(2) {
    animation: lower 10s linear infinite;
}
.neon-signboard span:nth-of-type(3) {
    animation: lower 14s linear infinite;
}
.neon-signboard span:nth-of-type(5) {
    animation: upper 10s linear infinite;
}

@keyframes upper {
    0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
      opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #26f4d9;
    }
    20%,21.999%,63%,63.999%,65%,69.999% {
      opacity:0.4; text-shadow: none; 
    }
}
@keyframes lower {
    0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
      opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
    }
    19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
      opacity:0.4; text-shadow: none; 
    }
}