table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: #777;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

tr.delete-element {
    background: rgb(238, 134, 134);
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow      : hidden;
    display       : flex;
    flex-direction: column;
}

.first-block {
    display        : flex;
    justify-content: space-between;
}

.first-block>div {
    width: 45%;
}

.second-block {
    display        : flex;
    justify-content: space-around;
    padding        : 10px 0;
}