<h2>Tasks:</h2>

<div>
    <mat-form-field>
        <input class="w-100" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let task"> {{validateDate(task[column])}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let task" [attr.colspan]="displayedColumns.length">
            <div class="element-detail" [@detailExpand]="task == expandedElement ? 'expanded' : 'collapsed'">
                <div class="first-block">
                    <div class="descriptions">
                        <div>Id: {{task.id}}</div>
                        <div>name: {{task.name}}</div>
                        <div>status: {{task.status}}</div>
                    </div>
                    <div class="fio">
                        <div class="">startDate: {{task.startDate | date:'yyyy-MM-dd'}}</div>
                        <div class="">endDate: {{task.endDate | date:'yyyy-MM-dd'}}</div>
                        <div *ngIf="isAdmin" class="">Active: {{task.isActive}}</div>
                    </div>
                </div>
                <div class="second-block">
                    <button mat-raised-button color="primary" (click)="editTask(task)">Edit task</button>
                    <button *ngIf="isAdmin" mat-raised-button color="accent"
                        (click)="unDeleteTask(task)">Undelete task</button>
                    <button mat-raised-button color="warn" (click)="deleteTask(task)">Delete task</button>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let task; columns: displayedColumns;" class="element-row  mat-warn"
        [class.expanded-row]="expandedElement === task" [class.mat-toolbar]="!task.isActive"
        (click)="expandedElement = expandedElement === task ? null : task">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" (click)="addTask()">Add task</button>
<!-- <button mat-raised-button color="primary" routerLink="/projects">Back</button> -->